/* todo: get rid of this once using own styes? */
@import 'satteri-callouts/theme/obsidian';
/* 
============= Font loading fallbacks for ET Book =============
*/
/* Palatino for Mac, Palatino Linotype for Windows */
@font-face {
  font-family: 'ET Book Mac and Windows Fallback';
  src: local('Palatino'), local('Palatino Linotype');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 90.5593%;
  ascent-override: 98.9403%;
  descent-override: 34.0764%;
}
@font-face {
  font-family: 'ET Book Mac and Windows Fallback';
  src: local('Palatino Italic'), local('Palatino Linotype Italic');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 90.002%;
  ascent-override: 98.7934%;
  descent-override: 34.0704%;
}
@font-face {
  font-family: 'ET Book Mac and Windows Fallback';
  src: local('Palatino Bold'), local('Palatino Linotype Bold');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  size-adjust: 88.4589%;
  ascent-override: 106.0366%;
  descent-override: 34.8856%;
}
/* P052 is a renaming of URW Palladio L */
/* For some reason, P052 Roman is the name required. I didn't test URW Palladio, so have hedged by including multiple local() sources.*/
@font-face {
  font-family: 'ET Book Linux Fallback';
  src:
    local ('P052'),
    local('P052 Roman'),
    local('URW Palladio L'),
    local('URW Palladio L Roman');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 91.188%;
  ascent-override: 98.2581%;
  descent-override: 33.8415%;
}
@font-face {
  font-family: 'ET Book Linux Fallback';
  src: local('P052 Italic'), local('URW Palladio L Italic');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 91.2226%;
  ascent-override: 97.4715%;
  descent-override: 33.6146%;
}
@font-face {
  font-family: 'ET Book Linux Fallback';
  src: local('P052 Bold'), local('URW Palladio L Bold');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  size-adjust: 88.5317%;
  ascent-override: 105.9494%;
  descent-override: 34.8569%;
}
/*
  * Since it's very common across OS's, and is used as Chromium browser fallback, Times New Roman
  * works well as a last optimised fallback serif (for reducing CLS) before letting the OS or
  * browser pick an unoptimised default, which could be some sans-serif like Arial.
*/
@font-face {
  font-family: 'ET Book Generic Fallback';
  src: local('Times New Roman');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  size-adjust: 99.8798%;
  ascent-override: 89.7074%;
  descent-override: 30.8965%;
  line-gap-override: 0%;
}
@font-face {
  font-family: 'ET Book Generic Fallback';
  src: local('Times New Roman');
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  size-adjust: 99.8798%;
  ascent-override: 89.7074%;
  descent-override: 30.8965%;
  line-gap-override: 0%;
}
@font-face {
  font-family: 'ET Book Generic Fallback';
  src: local('Times New Roman Bold');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  size-adjust: 93.7923%;
  ascent-override: 95.5298%;
  descent-override: 32.9018%;
  line-gap-override: 0%;
}

:root {
  --site-background-color: #fffaf8;
  --text-color: #411e0b;
  --accent: #7f3106;
  --accent-dark: #000d8a;
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
  --sans-serif-stack:
    ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
html,
body {
  height: 100%;
}
body {
  font-family: var(--font-etbook), serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color: var(--site-background-color);
  color: var(--text-color);
  font-size: 1.25rem;
  line-height: 1.7;
}
main {
  width: 45rem;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 7em 1em 4em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 3.125rem;
  font-variant-caps: small-caps;
  line-height: 0.85;
  text-wrap-style: pretty;
}
h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.prose h2 {
  font-size: clamp(1.5rem, 4.5vw, 2rem);
}
/* Brings h3 closer to h2 when it immediately follows one */
h2 + h3 {
  margin-top: 1rem;
}
h3 {
  font-size: 1.375rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--accent);
  transition: hover 100ms;
}
a:hover {
  color: #b8480b;
}
p {
  margin-bottom: 1em;
}
.prose p {
  font-size: 1.25rem;
  line-height: 1.55;
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
}
ul,
ol {
  padding-inline-start: 2rem;
}
/* Playing card bullet list markers */
@counter-style card-suits {
  system: cyclic;
  symbols: '♠︎' '♥︎' '♦︎' '♣︎';
  suffix: ' ';
}
ul {
  list-style-type: card-suits;
}
ul > li:nth-of-type(4n + 2)::marker,
ul > li:nth-of-type(4n + 3)::marker {
  color: firebrick;
}
textarea {
  width: 100%;
  font-size: 1rem;
}
input {
  font-size: 1rem;
}
table {
  width: 100%;
}
.prose figcaption p {
  font-size: 1.1rem;
  text-align: center;
}
/* Dropcap */
@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  .prose > p:first-of-type:first-letter {
    initial-letter: 2;
    -webkit-initial-letter: 2;
    margin-right: 0.2em;
  }
}
.prose table {
  width: auto;
  max-width: 100%;
  margin-block: 1.5rem 2rem;
  border-collapse: collapse;
  font-size: 1.125rem;
  font-variant-numeric: lining-nums tabular-nums;
}

.prose th,
.prose td {
  padding: 0.4rem 1.5rem 0.4rem 0;
  text-align: left;
  vertical-align: top;
  line-height: 1.3;
}

.prose thead th {
  padding-bottom: 0.75rem;
  line-height: 1.2;
}

/* No space after the final column */
.prose tr > :last-child {
  padding-right: 0;
}

/* No space beneath the table */
.prose tbody tr:last-child > * {
  padding-bottom: 0;
  border-bottom: 0;
}

.prose .callout {
  width: auto;
  margin: 3rem 0;
}
.prose .callout-title {
  font-size: 1rem;
}
.prose .callout-title-icon svg {
  width: 16px;
  height: 16px;
}
.prose .callout-content p {
  font-size: 1.1rem;
  line-height: 1.2;
}
.prose .callout-content p:last-of-type {
  margin-block-end: 0.3rem;
}
.prose .callout-content code {
  font-size: 0.8rem;
}

section.footnotes {
  margin-top: 5rem;
}
section.footnotes * {
  font-size: 1.1rem;
}
section.footnotes code {
  font-size: 0.8rem;
}
section.footnotes a.data-footnote-backref {
  font-size: 0.9rem;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0.25rem 0;
  border-radius: 0.375rem;
}
code {
  font-size: 0.9375rem;
  padding: 0.125rem 0.3125rem;
  background-color: oklch(0.95 0 0);
  border-radius: 0.125rem;
}
pre {
  font-family:
    ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
    'DejaVu Sans Mono', monospace;
  font-size: 0.85rem;
  padding: 1rem 1.7rem;
  border-radius: 0.375rem;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 0.5rem 2.5rem;
  margin: 0;
  font-style: italic;
}
summary::marker {
  font-size: 1rem;
}
details + details {
  margin-top: 0.5rem;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 45rem) {
  .prose :is(ol, ul) {
    padding-inline-start: 1.25em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
